@model NationalPark
@{
    var title = "create a national park";
}


<form method="post" enctype="multipart/form-data">
    @if (Model.Id != 0)
    {
        title = "Edit a national park";
        <input type="hidden" asp-for="Id" />
    }
    <div class="row px-2 mx-2 border">

        <div class="col-12 p-3">
            <h2 class="text-primary">@title</h2>
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="State"></label>
                </div>
                <div class="col-8">
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Picture"></label>
                </div>
                <div class="col-8">
                    <input type="file" asp-for="Picture" id="projectImage" name="files" multiple class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Established"></label>
                </div>
                @{
                    var dateEst = Model.Id == 0 ? string.Empty : Model.Established.ToShortDateString();
                }
                <div class="col-8">
                    <input type="text" asp-for="Established" value="@dateEst" id="datepicker" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                @{
                    var buttonText = Model.Id == 0 ? "Create National Park" : "Update National Park";
                }
                <div class="col-4 offset-4">
                    <button type="submit" class="btn btn-primary form-control">@buttonText</button>
                </div>
                <div class="col-4">
                    <a asp-controller="NationalPark" asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
        <div class="col-4 text-right" style="width: 250px;">
            @if (Model.Picture != null)
            {
                var base64String = Convert.ToBase64String(Model.Picture);
                var imageSource = $"data:image/jpg;base64,{base64String}";
                <img src="@imageSource" alt="place holder" width="100%" />
            }
        </div>
    </div>

</form>

@section Scripts
{
    <script>
        $(function () {
            $("#datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange: "1500:2030"
            });
        }
        )
    </script>
}
